*{
    background-color: #201f1f;
    color: #fff
}
.container{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.register-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-container{
    display: block;
}
.inputs{
    display: block;
    margin-bottom: 20px;
    border: 1px solid #178ddb;
    border-radius: 15px;
    height: 20px;
}

button{
    border-radius: 15px;
    background-color: #178ddb;
    height: 35px;
    color:#201f1f
}